.group {
  background-color: #f9f9f9;
  padding: 40px;
  border-radius: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.group-info,
.group-message {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
}

.input-field {
  background: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  font-size: 1em;
}

.input-field-delete {
  background-color: rgb(247, 172, 172);
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin: 5px 0;
  font-size: 1em;
}

.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.input-field-img {
  display: none;
}
#file-upload {
  display: none;
}

p {
  color: whitesmoke;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Make sure it's above other content */
}
.modal-content {
  background-color: whitesmoke;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1001;
}

.group-change {
  display: flex;
  flex-direction: column;
  margin-bottom: 0px;
  border-radius: 10px;
  border: 2px solid black;
  background-color: rgb(255, 225, 186);
}
